html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}



/*--start-wrap--*/
.content {
    width:80%;
    margin:0 auto;
}

.Registration {
    width: 41%;
    height: 41%;
    text-align:center;
    margin: 0 auto;
    background:#20252D;
    border-radius: 22px;
    padding-bottom: 1%;
    margin-top: 2%;
    margin-left: 27%;
}
.Registration-head {
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    text-align: center;
    padding:1.6em 0;
    position: relative;
}

.Registration-head h2{
    color: #075dba;
    font-size: 33px;
    font-weight: 700;
    margin-left:20px;
    font-family: 'Raleway', sans-serif;
}
.Registration form {
    text-align: center;
    margin:5% 0%;

}
.Registration form input[type="text"],.Registration form input[type="password"],.Registration form input[type="email"]{
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color:#8D8E8F;
    padding: 12px 12px;
    width:76%;
    border-top:1px solid #090B0D;
    border-right:2px solid #424549;
    border-bottom:2px solid #424549;
    border-left:1px solid #090B0D;
    margin: 10px 1em;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -o-border-radius:7px;
    background: #13161B;
    box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
    -o-box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
    font-family: 'Raleway', sans-serif;

}
.Registration form input[type="text"]:hover,.Registration form input[type="password"]:hover,.Registration form input[type="email"]:hover{
    box-shadow: 0 0 1em #56AF00;
    -webkit-box-shadow: 0 0 1em #56AF00;
    -o-box-shadow: 0 0 1em #56AF00;
    -moz-box-shadow: 0 0 1em #56AF00;
}
.wrapregister{
    background-image:url('images/bg.jpg');
}
.registration-button{
    margin-top: 3%;
}
